<swal #AlertError title="Oops..." text="" type="error"> </swal>
<swal #AlertSuccess title="Success!" text="" type="success"> </swal>
<div
  fxLayout="row wrap"
  fxLayoutGap="10px grid"
  fxLayoutAlign="space-around start"
  fxFlexFill
>
  <div class="player" *ngFor="let player of players; index as i" fxFlex="63">
    <div fxLayout="column" fxLayoutGap="20px grid">
      <span></span>
      <div>
        <mat-card>
          <swal
            #loginSuccess
            type="success"
            title="Signed in successfully"
            [swalOptions]="{
              toast: true,
              position: 'bottom-end',
              showConfirmButton: false,
              timer: 3000,
              background: '#000'
            }"
          ></swal>
          <mat-card-header>
            <mat-card-title>{{ i + 1 }}: {{ player.address }}</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <button
                (click)="Challenge(player.address)"
                mat-raised-button
                color="warn"
                style="background-color: #1fa22e"
              >
                Challenge
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<br />
<app-select-cards></app-select-cards>
